.signupData{
    border-bottom: 1px solid black;
}


.loginRow{
    justify-content: center;
    height: 100%;
}

.loginHead{
    text-align: center;
}

.loginGrid{
    /* background: #dfdfdf; */
}

.loginForm{
    padding: 5;
}

.signup{
    padding: 5;
}
.save{
    text-align: center;
}

.textarea{
    border : 2px solid #50c8ff
}
.check{
    text-align: end;
}
.submit{
    text-align: end;
}
.tog{
    top: 12px
;
}
.hist{
    text-align: center;
}.pet{
    line-height: 2;
}
